body {
    background-color: lightblue;
}

h1 { 
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}

h2 {
    font-size: 30px;
    font-family: sans-serif;
    color: red;
}

h3 {
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(21, 0, 255);
}

p {
    line-height: 1.5; 
}

img {
    border: 5px solid #555;
    Padding: 10px,10px,10px,10px;
    margin: 20px;
    border-top-right-radius: 30px 
}

li {
    display: inline-block;
    margin-left: 50px;
    padding: 10px;
}

nav {
    border: 5px solid;
}

a{
    text-align: underline;
    border: solid blue
}

